/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
/* basic styles  */
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #f3f1ff;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* header section styles  */
header {
  background-color: #562eff;
}
nav .navbar-brand img {
  height: 75px;
  width: 75px;
}
nav .navbar-brand span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
